name: golangci-lint
on:
  push:
    tags:
    - v*
    branches:
    - master
    - main
  pull_request:
    branches:
    - master
    - main
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v5
      with:
        go-version: 'stable'
    - uses: actions/checkout@v4
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: --timeout 3m
